<!DOCTYPE html>
<html lang="en">
<% include partial/head %>


    <body>
        <div class="container">
            <div class="row">
                <div style="margin-top: 5%">
                    <img class="imageW" src="/images/icon.png" />
                    <h4>QoS Cloud Monitoring</h4>
                    <b style="float: right;font-size: 26px;padding-bottom: 20px;padding-right: 20px;">NETWORK STATUS</b>
                    <a href="/">Home </a> /
                    <a href="/monitoringSessions/<%= client.client_id %>">Monitoring Sessions</a> / Network Status</p>
                    <p>For
                        <b>ACTIVE</b> monitoring sessions, the extension loggs the browsers network status after every 1 min.
                        The table below are all network status that were recorded during the session with Id
                        <b>
                            <%= client.client_id %>
                        </b>
                    </p>
                    <hr>
                </div>
                <div class="row">

                    <table class="table table-bordered" id="network_table">
                        <thead>
                            <tr>
                                <th>Status ID</th>
                <th>Operations ID</th>

                                <th>Timestamp</th>
                                <th>Network Round-trip Time</th>
                                <th>Network Downlink</th>
                                <th>Effective Type</th>


                            </tr>
                        </thead>
                        <tbody>
                            <% status.forEach(function(statu) { %>

                                <tr>
                                    <td style="color: #3777c5">
                                        <b>
                                            <%= statu.status_id %>
                                        </b>
                                    </td>
                                    <td>
                                        <%= statu.operation_id  %>
                                    </td>
                                    <td>
                                        <%= moment(statu.timestamp).format("MMM Do hh:mm") %>
                                    </td>

                                    <td>
                                        <center>
                                            <%=statu.net_rtt %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%=statu.net_downlink %>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <%=statu.net_effectiveType %>
                                        </center>
                                    </td>



                                </tr>
                                <% });%>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <% include partial/script %>

            <script type="text/javascript">

                $('#network_table').DataTable({
                    "order": [[2, "asc"]]
                });

            </script>
    </body>

</html>