<!DOCTYPE html>
<html lang="en">
<% include partial/head %>


<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div style="margin-top: 5%">
                <img class="imageW" src="images/icon.png" />
                <h4>QoS Cloud Monitoring</h4>
                <p>
                    <b style="font-size: 26px;padding-bottom: 20px;padding-right: 20px;">CHROME EXTENSION
                        CLIENTS</b> </p>
                <p>List of all users with
                    <b>Chrome Extension</b> installed in their browser</p>
            </div>

            <p> <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    style="margin-top: 70px;margin-left: 415px;">Monitored URLs </button> </p>

        </div>
        <div class="row">
            <table class="table table-bordered" id="client_table">
                <thead>
                    <tr>
                        <th>Client Browser ID</th>
                        <th>Data Installed</th>
                        <th>Processor Cores</th>
                        <th>CPU Architecture</th>
                        <th>RAM</th>
                        <th>Model </th>
                        <th>Active </th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(function(client) { %>

                    <tr>
                        <td style="cursor: pointer;">
                            <b>
                                <a href="/monitoringSessions/<%= client.client_id %>">
                                    <%= client.client_id %>
                                </a>
                            </b>
                        </td>
                        <td>
                            <%= moment(client.date_joined).format("MMM Do YYYY") %>
                        </td>
                        <td>
                            <center>
                                <%= client.cpu_numberOfCore %>
                            </center>
                        </td>
                        <td>
                            <%= client.cpu_archName %>
                        </td>
                        <td>
                            <center>

                                <%= client.ram_size %>
                            </center>
                        </td>
                        <td>
                            <%= client.cpu_modelName %>
                        </td>

                        <% if(client.is_active == 0){ %>
                        <td style="color:#db213a;font-weight: 900">FALSE</td>
                        <% }else{ %>
                        <td style="color:#30a321;font-weight: 1000">TRUE</td>
                        <% } %>


                    </tr>
                    <% });%>
                </tbody>
            </table>
        </div>
        <hr>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog .modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">URL MONITORED</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>List of all the users who have the monitoring by the
                        <b>Chrome Extension</b> installed in their browser
                    </p>
                    <form id="urlForm" action="/api/addURLwatch" method="post" style="text-align: center;">
                        <input id="mainurl" class="" type="text" name="mainurl" required placeholder="Enter mainURL.." />
                        <!-- <input id="partialurl" class="" type="text" name="partialurl" required placeholder="Enter partialURL.." /> -->
                        <button type="submit" class="button-primary">Add</button>
                    </form>
                    <table class="table table-bordered" id="url_table">
                        <thead>
                            <tr>
                                <th>Main URL</th>
                                <!-- <th>Partial URL</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(urls){%>
                            <% urls.forEach(function(url) { %>

                            <tr id="<%= url.id %>">

                                <td>
                                    <center>
                                        <%= url.mainURL %>
                                    </center>
                                </td>
                                <!-- <td>
                                    <center>

                                        <%= url.partialURL %>
                                    </center>
                                </td> -->
                                <td>
                                    <center>
                                        <button class="deletUrlBtn" id="<%= url.id %>">Delete</button>

                                    </center>
                                </td>
                            </tr>
                            <% });%> <% }%>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% include partial/script %>
    <script type="text/javascript">
        $('#client_table').DataTable({
            "order": [
                [1, "asc"]
            ]
        });
        // this is the id of the form
            $('#url_table').on('click','.deletUrlBtn', function(e) {
            $.ajax({
                type: "GET",
                url: `/api//deleteURL/${this.id}`,
                success: function ({
                    id
                }) {
                    $(`table#url_table tr#${id}`).remove();
                },
                error: function () {
                    console.log("Error in the database"); // show response from the php script.
                }
            });
        });

        $("#urlForm").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            var mainurl =$('#mainurl').val();
            var partialurl ="null";

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function ({
                    genId
                }) {
                    $('#url_table tr:last').after(`
                        <tr id="${genId}"><td><center>${mainurl}</center></td><td><center><button class="deletUrlBtn" id="${genId}">Delete</button>
                        </center></td></tr>
                `);

                    $('#mainurl').val('');
                    // $('#partialurl').val('');
                },
                error: function () {
                    console.log("Error in the database"); // show response from the php script.
                }
            });


        });
    </script>
</body>

</html>