<!DOCTYPE html>
<html lang="en">
<% include partial/head %>


    <body>

        <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            <div class="row">
                <div class="" style="margin-top: 5%">
                    <img class="imageW" src="/images/icon.png" />
                    <h4>QoS Cloud Monitoring</h4>
                    <b style="float: right;font-size: 26px;padding-bottom: 20px;padding-right: 20px;">MONITORING SESSIONS</b>
                    <p>
                        <a href="/">Home </a> / Monitoring Sessions</p>


                </div>
            </div>
            <div class="row">
                <div class="five columns" style="margin-top: 1%;padding: 30px;background-color: rgb(218, 223, 228)">
                    <% if(client.is_active == 0){%>
                        <div style="height: 8px;background-color: #b22020;margin-bottom: 8px;"></div>
                        <% }else{ %>
                            <div style="height: 8px;background-color: #20b25a;margin-bottom: 8px;"></div>
                            <%}%>
                                <h5 style="color: #1644ce">
                                    <small>Client ID : </small>

                                    <b>
                                        <%= client.client_id %>
                                    </b>
                                </h5>
                                <h6>
                                    Date Joined :

                                    <b>
                                        <%= client.date_joined %>
                                    </b>
                                </h6>
                                <h6>
                                    Number of Processor Core:

                                    <b>
                                        <%= client.cpu_numberOfCore %>
                                    </b>
                                </h6>
                                <h6>
                                    CPU Architecture :

                                    <b>
                                        <%= client.cpu_archName %>
                                    </b>
                                </h6>
                                <h6>
                                    CPU Model :

                                    <b>
                                        <%= client.cpu_modelName %>
                                    </b>
                                </h6>
                                <h6>
                                    RAM Size :

                                    <b>
                                        <%= client.ram_size %>
                                    </b>
                                </h6> 
                                <a href="/allsitesmonitored/<%= client.client_id %>">
                                    <button class="button-primary">All Monitored Sites</button>
                                </a>
                                <!-- <a href="/allnetworkStatus/<%= client.client_id %>">
                                    <button class="button-info">All Network Status</button>
                                </a> -->
                </div>
                <div class="seven columns">
                    <p>Every monitoring instance started by a clients extension app is logged into the database. The table below
                        show all montoring instances started by extension with the id
                        <b>
                            <%= client.client_id %>
                        </b>
                    </p>
                    <hr>
                    <table class="table table-bordered" id="session_table">
                        <thead>
                            <tr>
                                <th>Session ID</th>
                                <th>Start Timestamp</th>
                                <th>Stop Timestamp</th>
                                <th>Active</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% sessions.forEach(function(session) { %>

                                <tr>
                                    <td style="cursor: pointer;text-decoration-line: underline;color: rgb(55, 119, 197)">
                                        <a href="/sitesmonitored/<%= client.client_id %>?operation_id=<%= session.operation_id %>"  target="_blank">
                                            <%= session.operation_id %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= moment(session.start_timestamp).format("MMM Do YYYY hh:mm") %>
                                    </td>
                                    <% if(session.stop_timestamp == 'null'){%>
                                        <td> <i>On Going</i> </td>
                                        <% }else{ %>
                                            <td>
                                                <%= moment(session.stop_timestamp).format("MMM-Do-YY hh:mm") %>
                                            </td>
                                            <% } %>

                                                <% if(session.is_active == 0){ %>
                                                    <td style="color:#db213a;font-weight: 900">FALSE</td>
                                                    <% }else{ %>
                                                        <td style="color:#30a321;font-weight: 1000">TRUE</td>
                                                        <% } %>


                                </tr>
                                <% });%>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="networkStatus"></div>
        </div>


        <% include partial/script %>



            <script type="text/javascript">


                var sessionTable = $('#session_table').DataTable({
                    "order": [[2, "desc"]],
                    deferRender:    true,
                });

                
            </script>

    </body>

</html>