<div class="row" style="margin-top: 5%">
    <hr>
    <b style="float: right;font-size: 26px;padding-bottom: 20px;padding-right: 20px;padding-left: 30px">NETWORK STATUS</b>

    <div>
        <p>For
            <b>ACTIVE</b> monitoring sessions, the extension loggs the browsers network status after every 1 min. The table
            below are all network status that were recorded during the session with Id
            <b>
                <%= session_id %>
            </b>
        </p>
    </div>

    <table class="table table-bordered" id="network_table">
        <thead>
            <tr>
                <th>Monitor ID</th>
<th>Operations ID</th>

                <th>Timestamp</th>
                <th>Site Name</th>
                <th>Main URL</th>
                <th>Partial URL</th>
                <th>Load Time</th>
                <th>Net RTT</th>
                <th>Net Downlink</th>
                <th>Net EffectiveType</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <% if(status){%>
            <% status.forEach(function(statu) { %>

                <tr>
                    <td style="color: #3777c5">
                        <b>
                            <%= statu.siteid %>
                        </b>
                    </td>
                    <td>
                        <%= statu.operation_id  %>
                    </td>
                    <td>
                        <%= moment(statu.timestamp).format("MMM Do hh:mm") %>
                    </td>

                    <td>
                        <center>
                            <%=statu.name %>
                        </center>
                    </td>
                    <td>
                        <center>
                            <%=statu.mainUrl %>
                        </center>
                    </td>
                    <td>
                        <center>
                            <%=statu.partialUrl %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%=statu.loadtime %>
                        </center>
                    </td>
                    <td>
                        <center>
                            <%=statu.net_rtt %>
                        </center>
                    </td>
                    <td>
                        <center>
                            <%=statu.net_downlink %>
                        </center>
                    </td>

                    <td>
                        <center>
                            <%=statu.net_effectiveType %>
                        </center>
                    </td>
                    <td>
                        <center>
                                <a target="_blank" rel="noopener noreferrer" href="/report/<%=client_id %>/<%= statu.siteid %>"><i class="fas fa-file-download"></i></a>
                        </center>
                    </td>
                </tr>
                <% });%><% }%>
        </tbody>
    </table>

</div>


<script type="text/javascript">

    $('#network_table').DataTable({
        "order": [[2, "asc"]]
    });

</script>