<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="/js/jquery.min.js"></script> -->
<!-- Bootstrap javascript file -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="/js/bootstrap.min.js" ></script> -->

<script src="/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 
  <script src="/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> 